@font-face {
  font-family: 'Bahnschrift';
  src: url('../fonts/BAHNSCHRIFT.TTF') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Bahnschrift';
}

body {
  width: 100vw;
  height: 100%;
  background-color: #0A0A0B;
}

