:root {
  --toastify-color-light: #FFFFFF !important;
  --toastify-color-dark: #131315 !important;
  --toastify-color-info: #529EC7 !important;
  --toastify-color-success: #FFE01B !important;
  --toastify-color-warning: #FFCC3F !important;
  --toastify-color-error: #DD4742 !important;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7) !important;

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #EDEAE5;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #EDEAE5;


  --toastify-text-color-info: #EDEAE5;
  --toastify-text-color-success: #EDEAE5;
  --toastify-text-color-warning: #EDEAE5;
  --toastify-text-color-error: #EDEAE5;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}

@font-face {
  font-family: 'Bahnschrift';
  src: url('../fonts/BAHNSCHRIFT.TTF') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Bahnschrift';
}

body {
  width: 100vw;
  height: 100%;
  background-color: #0A0A0B;
}

.bank-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.dynamic-shadow-dom.dynamic-widget__container {
  z-index: 9999999999 !important;
}