.App {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
}

.landing-container {
    width: 100%;
    max-width: 1240px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.landing-container .hero {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.landing-container .hero .left-side {
    width: 100%;
    max-width: 505px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
}

.landing-container .hero .left-side .title {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    border-radius: 4px;
    border: 2px solid #ffe01b;
}

.landing-container .hero .left-side .title h1 {
    font-size: 14px;
    font-weight: 400;
    color: #ffe01b;
}

.landing-container .hero .left-side .intro p {
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
    color: #ffffff;
}

.landing-container .hero .left-side .description p {
    font-size: 16px;
    font-weight: 400;
    color: #6e6e78;
}

.landing-container .hero .right-side {
    width: 700px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    /* Este es solo un ejemplo, puedes ajustarlo a tus necesidades */
}

.landing-container .hero .right-side .background-animation {
    position: relative;
    width: 604px;
    /* Ajusta este valor a la medida que necesites */
    height: 604px;
    /* Ajusta este valor a la medida que necesites */
    background-color: transparent;
    border: 2px solid #1c1d21;
    border-radius: 100%;
    animation: rotate 10s linear infinite;
}

.landing-container .hero .right-side .circle {
    position: absolute;
    border-radius: 50%;
}

.landing-container .hero .right-side .main-circle {
    width: 100%;
    height: 100%;
    background: transparent;
    /* Ajusta el color como necesites */
}

.landing-container .hero .right-side .small-circle {
    width: 36px;
    /* Ajusta este valor a la medida que necesites */
    height: 36px;
    /* Ajusta este valor a la medida que necesites */
    background: #1c1d21;
    /* Ajusta el color como necesites */
}

.landing-container .hero .right-side .small-circle1 {
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
}

.landing-container .hero .right-side .small-circle2 {
    top: 50%;
    right: -18px;
    transform: translateY(-50%);
}

.landing-container .hero .right-side .small-circle3 {
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
}

.landing-container .hero .right-side .small-circle4 {
    top: 50%;
    left: -18px;
    transform: translateY(-50%);
}

.landing-container .hero .right-side .cards {
    position: absolute;
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.landing-container .hero .right-side .cards .main-card {
    position: relative;
    width: 295px;
    height: 400px;
    background-color: #131315;
    border-radius: 4px;
    border-top: 1px solid #ffe01b;
    border-bottom: 4px solid #ffe01b;
    border-left: 1px solid #ffe01b;
    border-right: 1px solid #ffe01b;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    padding: 20px 16px;
}

.landing-container .hero .right-side .cards .main-card .image {
    width: 263px;
    height: 247px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #1c1d21;
}

.landing-container .hero .right-side .cards .main-card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.landing-container .hero .right-side .cards .main-card .name {
    width: 100%;
    height: auto;
}

.landing-container .hero .right-side .cards .main-card .name h1 {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #ffffff;
}

.landing-container .hero .right-side .cards .main-card .stats {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 8px;
}

.landing-container .hero .right-side .cards .main-card .stats .stat {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.landing-container .hero .right-side .cards .main-card .stats .stat p {
    font-size: 14px;
    font-weight: 400;
    color: #6e6e78;
}

.landing-container .hero .right-side .cards .main-card .stats .stat span {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;
}

.landing-container .hero .right-side .cards .small-cards {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.landing-container .hero .right-side .cards .small-cards .arrows {
    width: 24px;
    height: 24px;
}

.landing-container .hero .right-side .cards .small-cards .small-card {
    position: relative;
    width: 296px;
    height: 88px;
    background-color: #131315;
    border-radius: 4px;
    border-top: 1px solid #ffe01b;
    border-bottom: 4px solid #ffe01b;
    border-left: 1px solid #ffe01b;
    border-right: 1px solid #ffe01b;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    padding: 12px;
}

.landing-container .hero .right-side .cards .small-cards .small-card .image {
    min-width: 64px;
    max-width: 64px;
    min-height: 64px;
    max-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #333021;
}

.landing-container .hero .right-side .cards .small-cards .small-card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.landing-container .hero .right-side .cards .small-cards .small-card .info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
}

.landing-container .hero .right-side .cards .small-cards .small-card .info p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #ffffff;
}

.landing-container .hero .right-side .cards .small-cards .small-card .info span {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #6e6e78;
}

.landing-container .hero .right-side .cards .small-cards .small-card2 {
    position: relative;
    width: 296px;
    height: 88px;
    background-color: #131315;
    border-radius: 4px;
    border-top: 1px solid #ffe01b;
    border-bottom: 4px solid #ffe01b;
    border-left: 1px solid #ffe01b;
    border-right: 1px solid #ffe01b;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    padding: 12px;
}

.landing-container .hero .right-side .cards .small-cards .small-card2 .image {
    min-width: 64px;
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.landing-container .hero .right-side .cards .small-cards .small-card2 .image img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 4px;
}

.landing-container .hero .right-side .cards .small-cards .small-card2 .info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 4px;
}

.landing-container .hero .right-side .cards .small-cards .small-card2 .info p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #ffffff;
}

.landing-container .hero .right-side .cards .small-cards .small-card2 .info span {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #6e6e78;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1turn);
    }
}

@media screen and (max-width: 768px) {
    .landing-container .hero {
        flex-direction: column;
        padding: 20px;
    }

    .landing-container .hero .left-side,
    .landing-container .hero .right-side {
        width: 100%;
        max-width: 100%;
    }

    .landing-container .hero .right-side .background-animation {
        display: none;
    }

    .landing-container .hero .right-side .cards {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .landing-container .hero .right-side .cards .small-cards .arrows {
        width: 24px;
        height: 24px;
        rotate: 90deg;
    }

    .landing-container .hero .right-side .cards .small-cards {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .landing-container .hero .right-side .cards .small-cards .small-card .image {
        min-width: 64px;
        min-height: 64px;
    }
}