.bank-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.listings-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.listings-container .title {
    width: 100%;
    max-width: 1084px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
    padding: 24px 0;
    cursor: default;
}

.listings-container .title h1 {
    font-size: 32px;
    line-height: 36px;
    font-weight: 600;
    color: #FFFFFF;
    margin: 0;
}

.listings-container .title p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #6E6E78;
}

.listings-container .listings {
    width: 100%;
    max-width: 1084px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.listings-container .listings .filters {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.listings-container .listings .listing {
    width: 100%;
    max-width: 256px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #18181B;
    border-radius: 4px;
    padding: 12px 16px;
    gap: 16px;
    transition: .2s;
}

.listings-container .listings .listing:hover {
    background-color: #FFE01B;
    cursor: pointer;
    transition: .2s;
}

.listings-container .listings .listing .listing-module {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}

.listings-container .listings .listing .listing-module .listing-first-row {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.listings-container .listings .listing .listing-module .listing-first-row .listing-image {
    min-width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    outline: 3px #18181B solid;
    border-radius: 2px;
    position: relative;
}

.listings-container .listings .listing .listing-module .listing-first-row .listing-image .chain-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 2px;
    padding-left: 2px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px 0 0 0;
    background-color: #18181B;
}

.listings-container .listings .listing .listing-module .listing-first-row .listing-image .chain-icon img {
    min-width: 16px;
    min-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listings-container .listings .listing .listing-module .listing-first-row .listing-image img {
    border-radius: 2px;
}

.listings-container .listings .listing .listing-module .listing-first-row .listing-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}

.listings-container .listings .listing .listing-module .listing-first-row .listing-info p {
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    color: #FFFFFF;
}

.listings-container .listings .listing:hover .listing-module .listing-first-row .listing-info p {
    color: #18181B;
}

.listings-container .listings .listing .listing-module .listing-first-row .listing-info span {
    font-size: 14px;
    font-weight: 400;
    color: #6E6E78;
}

.listings-container .listings .listing:hover .listing-module .listing-first-row .listing-info span {
    color: #18181B;
}

.listings-container .listings .listing .listing-module .listing-first-row .listing-info span strong {
    font-weight: 600;
    color: #6E6E78;
}

.listings-container .listings .listing:hover .listing-module .listing-first-row .listing-info span strong {
    color: #18181B;
}

.listings-container .listings .listing .listing-module .listing-second-row {
    width: 100%;
    height: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}

.listings-container .listings .listing .listing-module .listing-second-row .listing-liquidity {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.listings-container .listings .listing .listing-module .listing-second-row .listing-liquidity p {
    font-size: 14px;
    font-weight: 400;
    color: #6E6E78;
}

.listings-container .listings .listing:hover .listing-module .listing-second-row .listing-liquidity p {
    color: #18181B;
}

.listings-container .listings .listing .listing-module .listing-second-row .listing-liquidity .listing-liquidity-amount {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}

.listings-container .listings .listing .listing-module .listing-second-row .listing-liquidity .listing-liquidity-amount img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 50%;
    padding: 2px;
}

.listings-container .listings .listing .listing-module .listing-second-row .listing-liquidity .listing-liquidity-amount span {
    font-size: 14px;
    font-weight: 600;
    color: #6E6E78;
}

.listings-container .listings .listing:hover .listing-module .listing-second-row .listing-liquidity .listing-liquidity-amount span {
    color: #18181B;
}

.listings-container .listings .listing .listing-module .listing-second-row .listing-apy {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.listings-container .listings .listing .listing-module .listing-second-row .listing-apy p {
    font-size: 14px;
    font-weight: 400;
    color: #6E6E78;
}

.listings-container .listings .listing:hover .listing-module .listing-second-row .listing-apy p {
    color: #18181B;
}

.listing .listing-apy span {
    font-size: 14px;
    font-weight: 600;
    color: #6E6E78;
}

.listing:hover .listing-apy span {
    color: #18181B;
}

.listing:hover .listing-apy span strong {
    font-weight: 600;
    color: #18181B;
}

@media only screen and (max-width: 768px) {
    .listings-container .listings .listing {
        width: calc(50% - 20px);
        max-width: none;
    }
}

@media only screen and (max-width: 768px) {
    .listings-container {
        padding: 0 20px;
    }

    .listings-container .listings .listing {
        width: 100%;
    }
}