.sidebar-menu {
    max-width: 260px;
    height: 100vh;
    background-color: #18181B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: 0;
    padding: 8px 6px;
}

.sidebar-menu .ant-menu.ant-menu-root.ant-menu-vertical.ant-menu-dark.menu.ant-menu-inline-collapsed.css-dev-only-do-not-override-1wazalj {
    width: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #18181B;
    gap: 4px;
}

.sidebar-menu .ant-menu.ant-menu-root.ant-menu-vertical.ant-menu-dark.menu.ant-menu-inline-collapsed.css-dev-only-do-not-override-1wazalj .ant-menu-item {
    width: 52px;
    height: 52px;
    display: flex;
    padding: 16px;
}

.sidebar-menu .ant-menu.ant-menu-root.ant-menu-vertical.ant-menu-dark.menu.ant-menu-inline-collapsed.css-dev-only-do-not-override-1wazalj .ant-menu-item svg {
    min-width: 20px;
    height: 20px;
    filter: brightness(0) saturate(100%) invert(47%) sepia(6%) saturate(531%) hue-rotate(202deg) brightness(90%) contrast(90%);
}

.sidebar-menu .ant-menu.ant-menu-root.ant-menu-vertical.ant-menu-dark.menu.ant-menu-inline-collapsed.css-dev-only-do-not-override-1wazalj .ant-menu-item:hover svg {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7451%) hue-rotate(64deg) brightness(114%) contrast(114%);
}

.sidebar-menu .ant-menu.ant-menu-root.ant-menu-vertical.ant-menu-dark.menu.ant-menu-inline-collapsed.css-dev-only-do-not-override-1wazalj .ant-menu-item.ant-menu-item-selected {
    background-color: #18181B;
}

.sidebar-menu .ant-menu.ant-menu-root.ant-menu-vertical.ant-menu-dark.menu.ant-menu-inline-collapsed.css-dev-only-do-not-override-1wazalj .ant-menu-item.ant-menu-item-selected svg {
    filter: brightness(0) saturate(100%) invert(90%) sepia(64%) saturate(2%) hue-rotate(93deg) brightness(114%) contrast(101%);
}





.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-dark.menu.css-dev-only-do-not-override-1wazalj {
    width: 260px;
    background-color: #18181B;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    padding: 8px 6px;
    /* border: 1px red solid; */
}

.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-dark.menu.css-dev-only-do-not-override-1wazalj .ant-menu-item {
    width: 100%;
    height: 52px;
    display: flex;
    padding: 16px;
    background-color: #1C1D21;
    /* border: 1px red solid; */
}

.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-dark.menu.css-dev-only-do-not-override-1wazalj .ant-menu-item svg {
    min-width: 20px;
    height: 20px;
    filter: brightness(0) saturate(100%) invert(47%) sepia(6%) saturate(531%) hue-rotate(202deg) brightness(90%) contrast(90%);
}

.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-dark.menu.css-dev-only-do-not-override-1wazalj .ant-menu-item:hover svg {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7451%) hue-rotate(64deg) brightness(114%) contrast(114%);
}

.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-dark.menu.css-dev-only-do-not-override-1wazalj .ant-menu-item span {
    color: #6E6E78;
}

.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-dark.menu.css-dev-only-do-not-override-1wazalj .ant-menu-item:hover span {
    color: #FFFFFF;
}

.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-dark.menu.css-dev-only-do-not-override-1wazalj .ant-menu-item.ant-menu-item-selected {
    background-color: #FFE01B;
}

.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-dark.menu.css-dev-only-do-not-override-1wazalj .ant-menu-item.ant-menu-item-selected svg {
    filter: invert(100%);
}

.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-dark.menu.css-dev-only-do-not-override-1wazalj .ant-menu-item.ant-menu-item-selected span {
    color: #000000;
    font-weight: 600;
}

.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-dark.menu.css-dev-only-do-not-override-1wazalj .ant-menu-item.ant-menu-item-selected:hover span {
    color: #000000;
}